<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://filebox.hiworks.com/service/download/94cb92dac050876b1a0d048d14ad02cb755d9aa7888712f92bf71bb4fa4d96cf</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://firebasestorage.googleapis.com/v0/b/cybermdcare.appspot.com/o/57.JPG?alt=media&token=c4d401f8-1c05-4e3b-be94-3a942eb6ccc9</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://firebasestorage.googleapis.com/v0/b/cybermdcare.appspot.com/o/512.JPG?alt=media&token=0f868d54-f599-4de0-9a8d-99af48d903de</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tomatosystem.cybermdcare</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>CyberMDCare</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
